.video-container {
    position: relative;
    display: flex;
    flex: 1;
    background-color: #2d2d2d;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    overflow: hidden;
    /* border-color: red; */
}

.video-container.remote {
    flex: 2;
}

.video-container.local {
    flex: 1;
}

.video-element {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.video-label {
    position: absolute;
    top: 1rem;
    left: 1rem;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0.5rem 1rem;
    border-radius: 4px;
    font-size: 0.875rem;
    font-weight: bold;
}